
	<div id="top">
		<img src="images/mail.png" alt="mail icon" width="20" class="topimg">
		<p class="topp">contact@district01.be</p>
		<img src="images/phone.png" alt="phone icon" width="15" class="topimg">
		<p class="topp">03/98.43.78.32</p>
	</div>

	<header>
		<div class="menuwrap">

			<a ui-sref="home"><img src="images/logo.png" alt="logo"></a>

			<div>
				<a ng-href=''  ng-click="status.navActive = !status.navActive"><img src="images/burger.png" alt="menu" class="burger"></a>
				<div>
						<nav class="section group nav" id="nav" ng-class="{active: status.navActive}">
							<ul>
								<li class="after col span_1_of_6"><a ng-click="status.navActive = false" ui-sref="menu">menu</a></li>
								<li class="after col span_1_of_6"><a ui-sref="locaties" ng-click="status.navActive = false">{{ 'LOCATIES' | translate }}</a></li>
								<li class="before floatright col span_1_of_6 "><a ui-sref="franchise.detail" ng-click="status.navActive = false">franchise</a></li>
								<li class="before floatright col span_1_of_6 "><a ui-sref="jobs" ng-click="status.navActive = false">jobs</a></li>
							</ul>
						</nav>

					</div>
				</div>
		</div>
	</header>