
	<div id="top">
		<img src="images/mail.png" alt="mail icon" width="20"> <p>contact@district01.be</p>
		<img src="images/phone.png" alt="phone icon" width="18"> <p>03/98.43.78.32</p>
	</div>

	<header>
		<div class="menuwrap">

			<a ui-sref="home"><img src="images/logo.png" alt="logo"></a>

			<div>
				<a  ng-click="status.navActive = true"><img src="images/burger.png" alt="menu" class="burger"></a>
				<div collapse="isCollapsed">
						<nav class="section group nav" id="nav" ng-class="{active: status.navActive}">
							<ul>
								<li class="after col span_1_of_6"><a ng-click="collapse()" ui-sref="menu">menu</a></li>
								<li class="after col span_1_of_6"><a ui-sref="locaties" ng-click="collapse()">locaties</a></li>
								<li class="before floatright col span_1_of_6 "><a ui-sref="franchise.kontich" ng-click="collapse()">franchise</a></li>
								<li class="before floatright col span_1_of_6 "><a ui-sref="jobs" ng-click="collapse()">jobs</a></li>
							</ul>
							 <a href="#" id="pull">Menu</a>
						</nav>

					</div>
				</div>
		</div>
	</header>