<div class="contact">

	<section class="section header">
		<div class="sectionheader">
			<div class="sectionline big"></div>
			<div class="sectionline small"></div>
				<h2 class="sectionposth">contact</h2>
			<div class="sectionline big right"></div>
			<div class="sectionline small right"></div>
		</div>
	</section>

	<section>

		<div class="col span_1_of_3 contactgeg">

				<h2>Our headquarters</h2>
				<p>District01 Premium Meat</p>
				<p>Veldkant 35C</p>
				<p>2550 Kontich</p>
				<h6>info@district01premiummeat.be</h6>
				<h6>+32(0)9 374 29 92</h6>

				<img src="https://maps.googleapis.com/maps/api/staticmap?center=
				51.135239,4.445006
				&zoom=13&size=700x400&maptype=roadmap&markers=
				51.135239,4.445006
				&key=AIzaSyBGPdCnpglb4ok6k8BaVuF0srvPR7Gg770" alt="contactmap" width="320">
		</div>

		<div class="col span_2_of_3 nocollapse">

			<form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate ng-hide="hideForm" >

			<div class="form-group">
				<input type="text" name="name" class="form-control" ng-model="name" placeholder="Naam*" ng-minlength="2" ng-maxlength="15" required>
				<p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Gelieve uw naam in te vullen</p>
			</div>

			<div class="form-group">
				<input type="email" name="email" class="form-control" ng-model="email" placeholder="E - mail*" required>
				<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Gelieve een geldig email aders in te vullen</p>
			</div>

			<div class="form-group">
				<input type="text" name="telefoon" class="form-control" ng-model="user.telefoon" placeholder="Telefoon" >
			</div>

			<div class="form-group">
				<select ng-model="contactform.onderwerp">
					<option value="vraag" selected="selected" ng-init="vraag" autocomplete="off">Vraag</option>
					<option value="feedback" autocomplete="off">Feedback</option>
					<option value="sollicitatie" autocomplete="off">Sollicitatie</option>
					<option value="franchise" autocomplete="off">Franchise</option>
				</select>
			</div>

			<div class="form-group">
				<textarea name="bericht" class="form-control" ng-model="bericht" placeholder="Uw bericht" rows="5" cols="20" required></textarea>
			</div>

			<button type="submit" class="btn btn-primary formsubmit" ng-disabled="userForm.$invalid">Formulier versturen</button>
			</form>

			<h4 ng-show="hideForm">Uw bericht werd verstuurd, we beantwoorden zo snel mogelijk uw vraag</h4>

		</div>

	</section>

</div>
