<!--https://alexfeinberg.wordpress.com/2014/03/08/dynamically-populating-angular-ui-router-states-from-a-service/-->
<div class="locatie">

	<section class="section header">

		<div class="sectionheader">
			<div class="sectionline big"></div>
			<div class="sectionline small"></div>
				<h2 class="sectionposth">franchise</h2>
			<div class="sectionline big right"></div>
			<div class="sectionline small right"></div>
		</div>
	</section>

	<section class="FranchiseSection">

		<div class="col span_1_of_3 light francontact">
				<div class="dark">
					<h2>Franchise beginnen?</h2>
				</div>
				<div>
					<h3>Een mooie toekomst lacht u toe!</h3>
				</div>
				<div>
					<h3>Waarom zou je?</h3>
				</div>
				<ul id="franchiselist">
					<li>lorem ipsum</li><!-- style= "list-style-image: url('images/arrow.png')" -->
					<li>dolor sit amet</li>
					<li>consectetur</li>
					<li>adipiscing elit</li>
				</ul>
				<div class="dark">
					<h3 id="franchisecontact">
						<a ui-sref="contact({onderwerp: 'franchise'})">Neem contact op!</a>
					</h3>
				</div>
		</div>

		<div class="col span_2_of_3 nocollapse">
			<div class="col span_1_of_4 franchiseselect" >
				<ul class="franchiseselectlist" ng-init="selectedTab = 'kontich'">
					<a ui-sref=".kontich" ng-class="{'active':selectedTab === 'kontich'}" ng-click="selectedTab = 'kontich'">Kontich
						<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
					</a>
					<a ui-sref=".brussel" ng-class="{'active':selectedTab === 'brussel'}" ng-click="selectedTab = 'brussel'">Brussel
						<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
					</a>
					<a ui-sref=".gent" ng-class="{'active':selectedTab === 'gent'}" ng-click="selectedTab = 'gent'">Gent
						<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
					</a>
					<a ui-sref=".boechout" ng-class="{'active':selectedTab === 'boechout'}" ng-click="selectedTab = 'boechout'">Boechout
						<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
					</a>
					<a ui-sref=".brugge" ng-class="{'active':selectedTab === 'brugge'}" ng-click="selectedTab = 'brugge'">Brugge
						<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
					</a>
					<a ui-sref=".luik" ng-class="{'active':selectedTab === 'luik'}" ng-click="selectedTab = 'luik'">Luik
						<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
					</a>
				</ul>

			</div>

			<div>

				<div class="col span_3_of_4 franchisecontent" ui-view>

				</div>

			</div>

		</div>

	</section>

</div>
