<section class="home">
<!--CAROUSEL-->
	<div>
		<carousel interval="myInterval" class="carousel">
			<slide ng-repeat="slide in slides" active="slide.active">
				<img ng-src="{{slide.images[0].slider}}" alt="{{slide.images[0].slider}}" >
				<div class="carousel-caption " class="">
					<h1>{{slide.title}}</h1>
					<h4>{{slide.description}}</h4>
				</div>
			</slide>
		</carousel>
	</div>
<!--PROMOS-->
	<section>
		<article  class="col span_1_of_3 promo" ng-repeat="item in promos">
			<h2>{{item.title}}</h2>
			<p class="promoinfo">
				<span>{{item.description}}</span>
				<span class="prijs">&euro;{{item.price}}</span>
			</p>
		</article>
	</section>

</section>
<!--BLOGPOSTS-->
	<section id="blogposts">
		<div>
			<div class="sectionheader">
				<div class="sectionline big"></div>
				<div class="sectionline small"></div>
					<h2 class="sectionposth">Laatste blogposts</h2>
				<div class="sectionline big right"></div>
				<div class="sectionline small right"></div>
			</div>

			<div>
				<article class="col span_1_of_3 blog" ng-repeat="post in posts">
					<img src="images/franchise.png" alt="franchise" class="imgblog">
					<h3>{{post.title}}</h3>
					<p>{{post.description}}</p>
					<a href="" class="readmore">Read More</a>
				</article>
			</div>
		</div>
	</section>
<!--QUOTE-->
	<section id="quote">
		<h1>"De kwaliteit meten we met de glimlach van de klant"</h1>
		<p>-Lees het volledige <a href="">interview met CEO M. Verlinde</a></p>
	</section>