<div class="jobs">

	<section class="section header">

		<div class="sectionheader">
			<div class="sectionline big"></div>
			<div class="sectionline small"></div>
				<h2 class="sectionposth">jobs</h2>
			<div class="sectionline big right"></div>
			<div class="sectionline small right"></div>
		</div>
	</section>

	<section class="">
		<div class="col span_1_of_3 joblogo">
			<img src="images/logo.png" alt="logo" class="JobsImg">
		</div>

<!-- ACCORDION -->
		<div class="col span_2_of_3">
			<div ng-repeat="item in jobs">
				<accordion close-others=true>
					<accordion-group ng-click="job.selected = (job.selected != $index ? $index : undefined)">
						<accordion-heading is-open="status.isFirstOpen">
							<h2 class="accordionhead">
								"{{item.title}}"
								<i class="pull-right glyphicon "
								ng-class="{'glyphicon-chevron-up': $index == job.selected, 'glyphicon-chevron-down': $index != job.selected}"
								></i>
							</h2>
						</accordion-heading>
						{{item.description}}
						<button class="jobknop" ng-model="jobknop" ui-sref="contact({onderwerp: 'sollicitatie'})">
							{{ 'SOLLICITEER' | translate }} >
						</button>
					</accordion-group>
				</accordion>
			</div>
		</div>

	</section>

</div>
