<div class="jobs">

	<section class="section header">

		<div class="sectionheader">
			<div class="sectionline big"></div>
			<div class="sectionline small"></div>
				<h2 class="sectionposth">jobs</h2>
			<div class="sectionline big right"></div>
			<div class="sectionline small right"></div>
		</div>
	</section>

	<section class="">
		<div class="col span_1_of_3 joblogo">
			<img src="images/logo.png" alt="logo" class="JobsImg">
		</div>

<!-- ACCORDION -->
		<div class="col span_2_of_3">
			<div>
				<accordion close-others = "true">
					<accordion-group ng-repeat="item in jobs" ng-click="job.selected = (job.selected != $index ? $index : undefined)" ng-class="{'jobopen': $index == job.selected, '': $index != job.selected}">
						<accordion-heading >
							<h2 class="accordionhead">
								{{item.title}}
								<i class="pull-right glyphicon "
								ng-class="{'glyphicon-chevron-up': $index == job.selected, 'glyphicon-chevron-down': $index != job.selected}"
								></i>
							</h2>
						</accordion-heading>
						<span class="jobdescr">{{item.description}}</span>
						<button class="jobknop" ng-model="jobknop" ui-sref="contact({onderwerp: 'sollicitatie'})">
							{{ 'SOLLICITEER' | translate }} >
						</button>
					</accordion-group>
				</accordion>
			</div>
		</div>

	</section>

</div>
