<link rel="stylesheet" href="css/screen.css">
<section class="home">

<!--BLOGPOSTS-->
	<section id="languagesection">
		<img src="images/logo.png" alt="logo" id="langlogo">

		<div>

			<div class="langdiv">
				<h3>Welkom bij District01</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore nesciunt odit officia, hic, alias quasi error dolorem. Sed tenetur sunt voluptates maxime mollitia debitis, quas nisi laboriosam ut, facilis adipisci.</p>
				<button ng-click="changeLanguage('nl')" class="langbutton">nederlands</button>
			</div>

			<div class="langdiv">
				<h3>Welcome to District01</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore nesciunt odit officia, hic, alias quasi error dolorem. Sed tenetur sunt voluptates maxime mollitia debitis, quas nisi laboriosam ut, facilis adipisci.</p>
				<button ng-click="changeLanguage('en')" class="langbutton">english</button>
			</div>

			<button ng-click="checkCookie()" class="langbutton">get cookie</button>
			<button ng-click="deleteCookie()" class="langbutton">delete cookie</button>

		</div>

	</section>
