<link rel="stylesheet" href="css/screen.css">
<section>

<!--BLOGPOSTS-->
<!--<div id="langhead">-->
<div>

	<img src="images/logo.png" alt="logo" id="langlogo">

</div>
<!--</div>-->


	<section id="languagesection">

		<div id="langwrap">

			<div class="langdiv">
				<h3 class="langhead">Welkom bij District01 Premium Meat, kwaliteitsvolle fastfood in België</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore nesciunt odit officia, hic, alias quasi error dolorem. Sed tenetur sunt voluptates maxime mollitia debitis, quas nisi laboriosam ut, facilis adipisci.</p>
				<button ng-click="changeLanguage('nl')" ui-sref="home" class="langbutton">nederlands</button>
			</div>

			<div class="langdiv">
				<h3 class="langhead">Welcome at District01 Premium Meat, Belgiums quality fastfood </h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore nesciunt odit officia, hic, alias quasi error dolorem. Sed tenetur sunt voluptates maxime mollitia debitis, quas nisi laboriosam ut, facilis adipisci.</p>
				<button ng-click="changeLanguage('en')" ui-sref="home" class="langbutton">english</button>
			</div>

		</div>

	</section>

	<div id="darkback">
		<!--
			<button ng-click="checkCookie()" class="langbutton">get cookie</button>
			<button ng-click="deleteCookie()" class="langbutton">delete cookie</button>
		-->
	</div>
