
<div class="locatie">

	<section class="section header">

		<div class="sectionheader">
			<div class="sectionline big"></div>
			<div class="sectionline small"></div>
				<h2 class="sectionposth">{{franchises[ID-1].name}}</h2>
			<div class="sectionline big right"></div>
			<div class="sectionline small right"></div>
		</div>
	</section>

	<section class="LocatiesSection">

		<div class="col span_1_of_2 cleanslider">
			<img src="http://lorempixel.com/output/city-q-c-400-300-1.jpg" ng-src="{{selectedImg.src}}" alt="{{selectedImg.src}}">

			<div id="locatieimgsq">
				<ul>
					<li class="col span_1_of_6  thumbnails" ng-repeat="thumb in franchises">
						<img ng-src="{{thumb.images[0].list}}" alt="{{thumb.images[0].list}}" ng-click="selectedImg.src = thumb.images[0].list" >
					</li>
				</ul>
			</div>

		</div>

<script>

var t = {
		latitude:50.85034,
		longitude:4.35171
	};
	console.log(t);

</script>

		<div class="col span_1_of_2 locatiecontent">
			<div>
				<h4 class="locatietitle">{{ 'LOCATIEBEZOEK' | translate }} {{ franchises[ID-1].name }}</h4>
				<p>{{ franchises[ID-1].description }}</p>
				{{map.center}}

				<p>{{franchises[ID-1].location[0].lat}}</p>
				<p>{{franchises[ID-1].location[0].long}}</p>


<ui-gmap-google-map
	center='map.center'
	zoom='map.zoom'>
</ui-gmap-google-map>

<ui-gmap-google-map
	center='{{franchises[ID-1].location[0].lat}},
	{{franchises[ID-1].location[0].long}}'
	zoom='map.zoom'>
</ui-gmap-google-map>

<!-- 			markers=
				{{franchises[ID-1].location[0].lat}},
				{{ franchises[ID-1].location[0].long}}

				&key=AIzaSyBGPdCnpglb4ok6k8BaVuF0srvPR7Gg770"
-->


<!--
		<div class="col span_1_of_2 cleanslider2">
			<img src="http://lorempixel.com/output/city-q-c-400-300-1.jpg" ng-src="{{selectedImg.src}}" alt="{{selectedImg.src}}">

			<div id="locatieimgsq">
				<ul>
					<li class="" ng-repeat="thumb in franchises">
						<img ng-src="{{thumb.images[0].list}}" alt="{{thumb.images[0].list}}" ng-click="selectedImg.src = thumb.images[0].list" >
					</li>
				</ul>
			</div>

		</div>
-->
	</section>

</div>