
<div class="locatie">

	<section class="section header">

		<div class="sectionheader">
			<div class="sectionline big"></div>
			<div class="sectionline small"></div>
				<h2 class="sectionposth">{{locatieParams.locatieName}}</h2>
			<div class="sectionline big right"></div>
			<div class="sectionline small right"></div>
		</div>
	</section>

	<section class="LocatiesSection">

		<div class="col span_1_of_2 cleanslider">
			<div id="mainslidewrap">
				<img src="http://lorempixel.com/output/city-q-c-400-300-1.jpg" ng-src="{{selectedImg.src}}" alt="{{selectedImg.src}}" id="mainslide">
			</div>


			<div id="locatieimgsq">
				<ul>
					<li class="col span_1_of_6  thumbnails" ng-repeat="thumb in franchises">
						<img ng-src="{{thumb.images[0].list}}" alt="{{thumb.images[0].list}}" ng-click="selectedImg.src = thumb.images[0].list" >
					</li>
				</ul>
			</div>

		</div>

		<div class="col span_1_of_2 locatiecontent">
			<div>
				<h4 class="locatietitle">{{ 'LOCATIEBEZOEK' | translate }} {{locatieParams.locatieName}}</h4>
				<p>{{locatieParams.locatieDescr}}</p>
			</div>

			<ui-gmap-google-map
				center='locatieCenter'
				zoom='locatieCenter.zoom'
				draggable='true'>
				<ui-gmap-marker coords="locatieCenter"  idkey="locatieParams.locatieID">
				</ui-gmap-marker>
			</ui-gmap-google-map>
		</div>

	</section>

</div>