<div class="menu">

	<section class="section header">
		<div class="sectionheader">
			<div class="sectionline big"></div>
			<div class="sectionline small"></div>
				<h2 class="sectionposth">{{ 'LOCATIES' | translate }}</h2>
			<div class="sectionline big right"></div>
			<div class="sectionline small right"></div>
		</div>
	</section>

	<section class="LocatiesSection" ng-controller="FranchisesCtrl">

		<div class="col span_1_of_4 list loc" ng-repeat="item in franchises" >
			<a ui-sref="locatiedetail({
					locatieID: item.id,
					locatieName: item.name,
					locatieDescr: item.description,
					locatieLat: item.location[0].lat,
					locatieLong: item.location[0].long
				})"
				class="detail">
				<img src="{{item.images[0].list}}" alt="{{item.images[0].list}}" class="LocatiesImg">
				</a>
			<div class="LocatiesInfo">
				<h4>{{item.name}}</h4>
				<p class="adres">Koning Astridplein 23 - 2060 Antwerpen</p>
				<p>{{item.description}}</p>
				<a ui-sref="locatiedetail({
					locatieID: item.id,
					locatieName: item.name,
					locatieDescr: item.description,
					locatieLat: item.location[0].lat,
					locatieLong: item.location[0].long
				})"
				class="detail">Bekijk detail >></a>

			</div>

		</div>

	</section>

	<div ui-view></div>

</div>
