<div class="menu">

	<section class="section header">
		<div class="sectionheader">
			<div class="sectionline big"></div>
			<div class="sectionline small"></div>
				<h2 class="sectionposth">Locaties</h2>
			<div class="sectionline big right"></div>
			<div class="sectionline small right"></div>
		</div>
	</section>

	<section class="LocatiesSection" ng-controller="FranchisesCtrl">

		<div class="col span_1_of_4" ng-repeat="item in franchises" >
			<img src="{{item.images[0].list}}" alt="{{item.images[0].list}}" class="LocatiesImg">
			<div class="LocatiesInfo">
				<h4>{{item.name}}</h4>
				<p>{{item.description}}</p>
				<a ui-sref="locatie({locationName: item.id})" class="detail">Bekijk detail >></a>
			</div>

		</div>

	</section>

	<div ui-view></div>

</div>
